<div>
    <h2>
        <span jhiTranslate="jerkaeroApp.message.home.title">Messages</span>
        <button class="btn btn-primary float-right jh-create-entity create-message-guoyi-suffix" [routerLink]="['/', { outlets: { popup: ['message-guoyi-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jerkaeroApp.message.home.createLabel">
            Create new Message
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jerkaeroApp.message.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="messages">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sendID"><span jhiTranslate="jerkaeroApp.message.sendID">Send ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recID"><span jhiTranslate="jerkaeroApp.message.recID">Rec ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="messageID"><span jhiTranslate="jerkaeroApp.message.messageID">Message ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="statue"><span jhiTranslate="jerkaeroApp.message.statue">Statue</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="readDate"><span jhiTranslate="jerkaeroApp.message.readDate">Read Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let message of messages ;trackBy: trackId">
                <td><a [routerLink]="['../message-guoyi-suffix', message.id ]">{{message.id}}</a></td>
                <td>{{message.sendID}}</td>
                <td>{{message.recID}}</td>
                <td>{{message.messageID}}</td>
                <td>{{message.statue}}</td>
                <td>{{message.readDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../message-guoyi-suffix', message.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'message-guoyi-suffix/'+ message.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'message-guoyi-suffix/'+ message.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="messages && messages.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
