<form *ngIf="registration" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRegistrationLabel" jhiTranslate="jerkaeroApp.registration.home.createOrEditLabel">Create or edit a Registration</h4>
       <!-- 
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
                 -->
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!registration.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="registration.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.registType" for="field_registType">Regist Type</label>
            <!-- 
            <input type="number" class="form-control" name="registType" id="field_registType"
                [(ngModel)]="registration.registType" required/>
                -->
            <select class="form-control" name="registType" [(ngModel)]="registration.registType" id="field_registType" required>
                <option value="A1">{{'jerkaeroApp.RegisterEnum.A1' | translate}}</option>
                <option value="A2">{{'jerkaeroApp.RegisterEnum.A2' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.registType?.dirty && editForm.controls.registType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.registType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.registType?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.dwqc" for="field_dwqc">Dwqc</label>
            <input type="text" class="form-control" name="dwqc" id="field_dwqc"
                [(ngModel)]="registration.dwqc" required maxlength="60"/>
            <div [hidden]="!(editForm.controls.dwqc?.dirty && editForm.controls.dwqc?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dwqc?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dwqc?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                   This field cannot be longer than 60 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.hxcpmc" for="field_hxcpmc">Hxcpmc</label>
            <input type="text" class="form-control" name="hxcpmc" id="field_hxcpmc"
                [(ngModel)]="registration.hxcpmc" required maxlength="120"/>
            <div [hidden]="!(editForm.controls.hxcpmc?.dirty && editForm.controls.hxcpmc?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.hxcpmc?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.hxcpmc?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 120 }">
                   This field cannot be longer than 120 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.zztjdw" for="field_zztjdw">Zztjdw</label>
            <input type="text" class="form-control" name="zztjdw" id="field_zztjdw"
                [(ngModel)]="registration.zztjdw" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.dwhgrdz" for="field_dwhgrdz">Dwhgrdz</label>
            <input type="text" class="form-control" name="dwhgrdz" id="field_dwhgrdz"
                [(ngModel)]="registration.dwhgrdz" required maxlength="100"/>
            <div [hidden]="!(editForm.controls.dwhgrdz?.dirty && editForm.controls.dwhgrdz?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dwhgrdz?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dwhgrdz?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.szqylx" for="field_szqylx">Szqylx</label>
          <!-- 
            <input type="text" class="form-control" name="szqylx" id="field_szqylx"
                [(ngModel)]="registration.szqylx" required/>
                -->
            <select class="form-control" name="szqylx" id="field_szqylx" [(ngModel)]="registration.szqylx" required>
                <option value="A1">{{'jerkaeroApp.SzqylxEnum.A1' | translate}}</option>
                <option value="A2">{{'jerkaeroApp.SzqylxEnum.A2' | translate}}</option>
                <option value="A1">{{'jerkaeroApp.SzqylxEnum.A3' | translate}}</option>
                <option value="A2">{{'jerkaeroApp.SzqylxEnum.A4' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.szqylx?.dirty && editForm.controls.szqylx?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.szqylx?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.ssly" for="field_ssly">Ssly</label>
            <!-- 
            <input type="text" class="form-control" name="ssly" id="field_ssly"
                [(ngModel)]="registration.ssly" required/>
                -->
            <select class="form-control" name="ssly" id="field_ssly" [(ngModel)]="registration.ssly" required>
                <option value="A1">{{'jerkaeroApp.SslyEnum.A1' | translate}}</option>
                <option value="A2">{{'jerkaeroApp.SslyEnum.A2' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.ssly?.dirty && editForm.controls.ssly?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ssly?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.ssly1" for="field_ssly1">Ssly 1</label>
            <input  class="form-control" name="ssly1" id="field_ssly1"
                [(ngModel)]="registration.ssly1" maxlength="60"/>
            <div [hidden]="!(editForm.controls.ssly1?.dirty && editForm.controls.ssly1?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ssly1?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                   This field cannot be longer than 60 characters.
                </small>
            </div>
        </div>
        
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.gscpjj" for="field_gscpjj">Gscpjj</label>
            <textarea type="text" class="form-control" name="gscpjj" id="field_gscpjj"
                [(ngModel)]="registration.gscpjj" required maxlength="360"></textarea>
            <div [hidden]="!(editForm.controls.gscpjj?.dirty && editForm.controls.gscpjj?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.gscpjj?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.gscpjj?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 360 }">
                   This field cannot be longer than 360 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.mbkhsc" for="field_mbkhsc">Mbkhsc</label>
            <input type="text" class="form-control" name="mbkhsc" id="field_mbkhsc"
                [(ngModel)]="registration.mbkhsc" required/>
            <div [hidden]="!(editForm.controls.mbkhsc?.dirty && editForm.controls.mbkhsc?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mbkhsc?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.dqzykh" for="field_dqzykh">Dqzykh</label>
            <input type="text" class="form-control" name="dqzykh" id="field_dqzykh"
                [(ngModel)]="registration.dqzykh" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.gnwhjjx" for="field_gnwhjjx">Gnwhjjx</label>
            <textarea type="text" class="form-control" name="gnwhjjx" id="field_gnwhjjx"
                [(ngModel)]="registration.gnwhjjx" maxlength="500"></textarea>
            <div [hidden]="!(editForm.controls.gnwhjjx?.dirty && editForm.controls.gnwhjjx?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.gnwhjjx?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.zljs" for="field_zljs">Zljs</label>
            <select class="form-control" name="zljs" [(ngModel)]="registration.zljs" id="field_zljs"  required>
                <option value="YES">{{'jerkaeroApp.Decision.YES' | translate}}</option>
                <option value="NO">{{'jerkaeroApp.Decision.NO' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.zljs?.dirty && editForm.controls.zljs?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.zljs?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.hxjsly" for="field_hxjsly">Hxjsly</label>
            <select class="form-control" name="hxjsly" [(ngModel)]="registration.hxjsly" id="field_hxjsly"  required>
                <option value="S1">{{'jerkaeroApp.HxjslyEnum.S1' | translate}}</option>
                <option value="S2">{{'jerkaeroApp.HxjslyEnum.S2' | translate}}</option>
                <option value="S3">{{'jerkaeroApp.HxjslyEnum.S3' | translate}}</option>
                <option value="S4">{{'jerkaeroApp.HxjslyEnum.S4' | translate}}</option>
                <option value="OTHER">{{'jerkaeroApp.HxjslyEnum.OTHER' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.hxjsly?.dirty && editForm.controls.hxjsly?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.hxjsly?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.kjcgzh" for="field_kjcgzh">Kjcgzh</label>
            <select class="form-control" name="kjcgzh" [(ngModel)]="registration.kjcgzh" id="field_kjcgzh"  required>
                <option value="S1">{{'jerkaeroApp.KjcgzhEnum.S1' | translate}}</option>
                <option value="S2">{{'jerkaeroApp.KjcgzhEnum.S2' | translate}}</option>
                <option value="S3">{{'jerkaeroApp.KjcgzhEnum.S3' | translate}}</option>
                <option value="OTHER">{{'jerkaeroApp.KjcgzhEnum.OTHER' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.kjcgzh?.dirty && editForm.controls.kjcgzh?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.kjcgzh?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.jmlyqk" for="field_jmlyqk">Jmlyqk</label>
            <select class="form-control" name="jmlyqk" [(ngModel)]="registration.jmlyqk" id="field_jmlyqk"  required>
                <option value="K1">{{'jerkaeroApp.JmlyqkEnum.K1' | translate}}</option>
                <option value="K2">{{'jerkaeroApp.JmlyqkEnum.K2' | translate}}</option>
                <option value="K3">{{'jerkaeroApp.JmlyqkEnum.K3' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.jmlyqk?.dirty && editForm.controls.jmlyqk?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.jmlyqk?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.jscsd" for="field_jscsd">Jscsd</label>
            <input type="text" class="form-control" name="jscsd" id="field_jscsd"
                [(ngModel)]="registration.jscsd" maxlength="120"/>
            <div [hidden]="!(editForm.controls.jscsd?.dirty && editForm.controls.jscsd?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.jscsd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 120 }">
                   This field cannot be longer than 120 characters.
                </small>
            </div>
        </div>
        <!-- 盈利模式及目前盈利情况 -->
        <div class="form-group" *ngIf="registration.registType=='A2'">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.jzmsylqk" for="field_jzmsylqk">Jzmsylqk</label>
            <textarea type="text" class="form-control" name="jzmsylqk" id="field_jzmsylqk"
                [(ngModel)]="registration.jzmsylqk" maxlength="500"></textarea>
            <div [hidden]="!(editForm.controls.jzmsylqk?.dirty && editForm.controls.jzmsylqk?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.jzmsylqk?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.jzmsylqk?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.jzysjs" for="field_jzysjs">Jzysjs</label>
            <textarea type="text" class="form-control" name="jzysjs" id="field_jzysjs"
                [(ngModel)]="registration.jzysjs" required maxlength="500"></textarea>
            <div [hidden]="!(editForm.controls.jzysjs?.dirty && editForm.controls.jzysjs?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.jzysjs?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.jzysjs?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.fzrdh" for="field_fzrdh">Fzrdh</label>
            <input type="text" class="form-control" name="fzrdh" id="field_fzrdh"
                [(ngModel)]="registration.fzrdh" required maxlength="20"/>
            <div [hidden]="!(editForm.controls.fzrdh?.dirty && editForm.controls.fzrdh?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fzrdh?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fzrdh?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.xb" for="field_xb">Xb</label>
            <select class="form-control" name="xb" [(ngModel)]="registration.xb" id="field_xb"  required>
                <option value="MAN">{{'jerkaeroApp.XbEnum.MAN' | translate}}</option>
                <option value="WOMAN">{{'jerkaeroApp.XbEnum.WOMAN' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.xb?.dirty && editForm.controls.xb?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.xb?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.lxfs" for="field_lxfs">Lxfs</label>
            <input type="text" class="form-control" name="lxfs" id="field_lxfs"
                [(ngModel)]="registration.lxfs" required maxlength="36"/>
            <div [hidden]="!(editForm.controls.lxfs?.dirty && editForm.controls.lxfs?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lxfs?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lxfs?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 36 }">
                   This field cannot be longer than 36 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="registration.email" required maxlength="36"/>
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 36 }">
                   This field cannot be longer than 36 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.fzrnl" for="field_fzrnl">Fzrnl</label>
            <select class="form-control" name="fzrnl" [(ngModel)]="registration.fzrnl" id="field_fzrnl"  required>
                <option value="A1">{{'jerkaeroApp.AgeEnum.A1' | translate}}</option>
                <option value="A2">{{'jerkaeroApp.AgeEnum.A2' | translate}}</option>
                <option value="A3">{{'jerkaeroApp.AgeEnum.A3' | translate}}</option>
                <option value="A4">{{'jerkaeroApp.AgeEnum.A4' | translate}}</option>
                <option value="A5">{{'jerkaeroApp.AgeEnum.A5' | translate}}</option>
                <option value="A6">{{'jerkaeroApp.AgeEnum.A6' | translate}}</option>
                <option value="A7">{{'jerkaeroApp.AgeEnum.A7' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.fzrnl?.dirty && editForm.controls.fzrnl?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fzrnl?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.tdpjnl" for="field_tdpjnl">Tdpjnl</label>
            <select class="form-control" name="tdpjnl" [(ngModel)]="registration.tdpjnl" id="field_tdpjnl" >
                <option value="A1">{{'jerkaeroApp.AgeEnum.A1' | translate}}</option>
                <option value="A2">{{'jerkaeroApp.AgeEnum.A2' | translate}}</option>
                <option value="A3">{{'jerkaeroApp.AgeEnum.A3' | translate}}</option>
                <option value="A4">{{'jerkaeroApp.AgeEnum.A4' | translate}}</option>
                <option value="A5">{{'jerkaeroApp.AgeEnum.A5' | translate}}</option>
                <option value="A6">{{'jerkaeroApp.AgeEnum.A6' | translate}}</option>
                <option value="A7">{{'jerkaeroApp.AgeEnum.A7' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.gjrcs" for="field_gjrcs">Gjrcs</label>
            <input type="number" class="form-control" name="gjrcs" id="field_gjrcs"
                [(ngModel)]="registration.gjrcs" required/>
            <div [hidden]="!(editForm.controls.gjrcs?.dirty && editForm.controls.gjrcs?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.gjrcs?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.gjrcs?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.sfgjrzgxjsqy" for="field_sfgjrzgxjsqy">Sfgjrzgxjsqy</label>
            <select class="form-control" name="sfgjrzgxjsqy" [(ngModel)]="registration.sfgjrzgxjsqy" id="field_sfgjrzgxjsqy"  required>
                <option value="YES">{{'jerkaeroApp.Decision.YES' | translate}}</option>
                <option value="NO">{{'jerkaeroApp.Decision.NO' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.sfgjrzgxjsqy?.dirty && editForm.controls.sfgjrzgxjsqy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sfgjrzgxjsqy?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.tdysjs" for="field_tdysjs">Tdysjs</label>
            <input type="text" class="form-control" name="tdysjs" id="field_tdysjs"
                [(ngModel)]="registration.tdysjs" required maxlength="500"/>
            <div [hidden]="!(editForm.controls.tdysjs?.dirty && editForm.controls.tdysjs?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tdysjs?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tdysjs?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.xycz" for="field_xycz">Xycz</label>
            <input type="text" class="form-control" name="xycz" id="field_xycz"
                [(ngModel)]="registration.xycz" required maxlength="24"/>
            <div [hidden]="!(editForm.controls.xycz?.dirty && editForm.controls.xycz?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.xycz?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.xycz?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 24 }">
                   This field cannot be longer than 24 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.wlxwhdzclx" for="field_wlxwhdzclx">Wlxwhdzclx</label>
            <!-- 
            <input type="text" class="form-control" name="wlxwhdzclx" id="field_wlxwhdzclx"
                [(ngModel)]="registration.wlxwhdzclx" required maxlength="36"/>
                 -->
            <div class="row">
             <span *ngFor="let one of zclxArray" class="col-sm-6"><input name="{{'zclx'+one.key}}" id="{{'zclx'+one.key}}" type="checkbox" [(ngModel)]="one.state">{{'jerkaeroApp.ZclxEnum.'+one.key | translate}}</span>
            </div>
             
            <div [hidden]="!(editForm.controls.wlxwhdzclx?.dirty && editForm.controls.wlxwhdzclx?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.wlxwhdzclx?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.wlxwhdzclx?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 36 }">
                   This field cannot be longer than 36 characters.
                </small>
            </div>
        </div>
        <div  *ngIf="zclxArray[9].state" class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.wlxwhdzclx1" for="field_wlxwhdzclx1">Wlxwhdzclx 1</label>
            <input type="text" class="form-control" name="wlxwhdzclx1" id="field_wlxwhdzclx1"
                [(ngModel)]="registration.wlxwhdzclx1" required maxlength="100"/>
            <div [hidden]="!(editForm.controls.wlxwhdzclx1?.dirty && editForm.controls.wlxwhdzclx1?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.wlxwhdzclx1?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.wlxwhdzclx1?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.sfxyxc" for="field_sfxyxc">Sfxyxc</label>
            <!--         
             <input type="text" class="form-control" name="sfxyxc" id="field_sfxyxc"
                [(ngModel)]="registration.sfxyxc" maxlength="100"/>
            -->
            <div class="row">
             <span *ngFor="let one of sfxyxcArray" class="col-sm-6"><input name="{{'sfxyxc'+one.key}}" id="{{'sfxyxc'+one.key}}" type="checkbox" [(ngModel)]="one.state">{{'jerkaeroApp.SfxyxcEnum.'+one.key | translate}}</span>
            </div>
            <div [hidden]="!(editForm.controls.sfxyxc?.dirty && editForm.controls.sfxyxc?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sfxyxc?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group" *ngIf="registration.registType=='A2'">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.rzjhgkfw" for="field_rzjhgkfw">Rzjhgkfw</label>
            <select class="form-control" name="rzjhgkfw" [(ngModel)]="registration.rzjhgkfw" id="field_rzjhgkfw"  required>
                <option value="O1">{{'jerkaeroApp.RzjhgkfwEnum.O1' | translate}}</option>
                <option value="O2">{{'jerkaeroApp.RzjhgkfwEnum.O2' | translate}}</option>
                <option value="O3">{{'jerkaeroApp.RzjhgkfwEnum.O3' | translate}}</option>
            </select>
            
            <div [hidden]="!(editForm.controls.rzjhgkfw?.dirty && editForm.controls.rzjhgkfw?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.rzjhgkfw?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group" *ngIf="registration.registType=='A2'">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.rzmb" for="field_rzmb">Rzmb</label>
            <select class="form-control" name="rzmb" [(ngModel)]="registration.rzmb" id="field_rzmb" >
                <option value="R1">{{'jerkaeroApp.RzmbEnum.R1' | translate}}</option>
                <option value="R2">{{'jerkaeroApp.RzmbEnum.R2' | translate}}</option>
                <option value="R3">{{'jerkaeroApp.RzmbEnum.R3' | translate}}</option>
                <option value="R4">{{'jerkaeroApp.RzmbEnum.R4' | translate}}</option>
                <option value="R5">{{'jerkaeroApp.RzmbEnum.R5' | translate}}</option>
                <option value="R6">{{'jerkaeroApp.RzmbEnum.R6' | translate}}</option>
                <option value="R7">{{'jerkaeroApp.RzmbEnum.R7' | translate}}</option>
                <option value="R8">{{'jerkaeroApp.RzmbEnum.R8' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.lxrzw" for="field_lxrzw">Lxrzw</label>
            <input type="text" class="form-control" name="lxrzw" id="field_lxrzw"
                [(ngModel)]="registration.lxrzw" required maxlength="100"/>
            <div [hidden]="!(editForm.controls.lxrzw?.dirty && editForm.controls.lxrzw?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lxrzw?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lxrzw?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.lxdh" for="field_lxdh">Lxdh</label>
            <input type="text" class="form-control" name="lxdh" id="field_lxdh"
                [(ngModel)]="registration.lxdh" required/>
            <div [hidden]="!(editForm.controls.lxdh?.dirty && editForm.controls.lxdh?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lxdh?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.lxyx" for="field_lxyx">Lxyx</label>
            <input type="text" class="form-control" name="lxyx" id="field_lxyx"
                [(ngModel)]="registration.lxyx" required maxlength="60"/>
            <div [hidden]="!(editForm.controls.lxyx?.dirty && editForm.controls.lxyx?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lxyx?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lxyx?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                   This field cannot be longer than 60 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.lxdz" for="field_lxdz">Lxdz</label>
            <input type="text" class="form-control" name="lxdz" id="field_lxdz"
                [(ngModel)]="registration.lxdz" required maxlength="120"/>
            <div [hidden]="!(editForm.controls.lxdz?.dirty && editForm.controls.lxdz?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lxdz?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lxdz?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 120 }">
                   This field cannot be longer than 120 characters.
                </small>
            </div>
        </div>

        <!-- 
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="registration.createdDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.registration.modifiedDate" for="field_modifiedDate">Modified Date</label>
            <div class="input-group">
                <input id="field_modifiedDate" type="text" class="form-control" name="modifiedDate" ngbDatepicker  #modifiedDateDp="ngbDatepicker" [(ngModel)]="registration.modifiedDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="modifiedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
   -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="previousState()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
