<div>
    <h2>
        <span jhiTranslate="jerkaeroApp.mailbox.home.title">Mailboxes</span>
        <button class="btn btn-primary float-right jh-create-entity create-mailbox-guoyi-suffix" [routerLink]="['/', { outlets: { popup: ['mailbox-guoyi-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jerkaeroApp.mailbox.home.createLabel">
            Create new message
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jerkaeroApp.mailbox.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="mailboxes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
           <!-- 
            <th jhiSortBy="sendId"><span jhiTranslate="jerkaeroApp.mailbox.sendId">Send Id</span> <span class="fa fa-sort"></span></th>
           -->
            <th jhiSortBy="receiverId"><span jhiTranslate="jerkaeroApp.mailbox.receiverId">Receiver Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="msgType"><span jhiTranslate="jerkaeroApp.mailbox.msgType">Msg Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="jerkaeroApp.mailbox.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mcontent"><span jhiTranslate="jerkaeroApp.mailbox.mcontent">Mcontent</span> <span class="fa fa-sort"></span></th>
          <!-- 
            <th jhiSortBy="sourceId"><span jhiTranslate="jerkaeroApp.mailbox.sourceId">Source Id</span> <span class="fa fa-sort"></span></th>
            -->
            <th jhiSortBy="createdDate"><span jhiTranslate="jerkaeroApp.mailbox.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
           <!-- 
            <th jhiSortBy="readDate"><span jhiTranslate="jerkaeroApp.mailbox.readDate">Read Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="anonymous"><span jhiTranslate="jerkaeroApp.mailbox.anonymous">Anonymous</span> <span class="fa fa-sort"></span></th>
             -->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mailbox of mailboxes ;trackBy: trackId">
                <td><a [routerLink]="['../mailbox-guoyi-suffix', mailbox.id ]">{{mailbox.id}}</a></td>
              <!-- 
                <td>{{mailbox.sendId}}</td>
               -->
                <td>{{mailbox.receiverId}}</td>
                <td>{{ 'jerkaeroApp.MessageTypeEnum.'+mailbox.msgType | translate }}</td>
                <td>{{mailbox.title}}</td>
                <td>{{mailbox.mcontent}}</td>
               <!-- 
                <td>{{mailbox.sourceId}}</td>
               -->
                <td>{{mailbox.createdDate}}</td>
                <!-- 
                <td>{{mailbox.readDate | date:'mediumDate'}}</td>
                <td>{{mailbox.anonymous}}</td>
                 -->
                <!-- 
                <td>
                    <div *ngIf="mailbox.jerk">
                        <a [routerLink]="['../jerk-guoyi-suffix', mailbox.jerk?.id ]" >{{mailbox.jerk?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mailbox.jerk">
                        <a [routerLink]="['../jerk-guoyi-suffix', mailbox.jerk?.id ]" >{{mailbox.jerk?.id}}</a>
                    </div>
                </td>
                 -->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../mailbox-guoyi-suffix', mailbox.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mailbox-guoyi-suffix/'+ mailbox.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mailbox-guoyi-suffix/'+ mailbox.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mailboxes && mailboxes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
