<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMailboxLabel" jhiTranslate="jerkaeroApp.mailbox.home.createOrEditLabel">Create or edit a Mailbox</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!mailbox.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="mailbox.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.mailbox.sendId" for="field_sendId">Send Id</label>
            <input type="number" class="form-control" name="sendId" id="field_sendId"
                [(ngModel)]="mailbox.sendId" required/>
            <div [hidden]="!(editForm.controls.sendId?.dirty && editForm.controls.sendId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sendId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sendId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.mailbox.receiverId" for="field_receiverId">Receiver Id</label>
            <input type="number" class="form-control" name="receiverId" id="field_receiverId"
                [(ngModel)]="mailbox.receiverId" required/>
            <div [hidden]="!(editForm.controls.receiverId?.dirty && editForm.controls.receiverId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.receiverId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.receiverId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.mailbox.msgType" for="field_msgType">Msg Type</label>
            <input type="number" class="form-control" name="msgType" id="field_msgType"
                [(ngModel)]="mailbox.msgType" required/>
            <div [hidden]="!(editForm.controls.msgType?.dirty && editForm.controls.msgType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.msgType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.msgType?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.mailbox.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="mailbox.title" required maxlength="200"/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.mailbox.mcontent" for="field_mcontent">Mcontent</label>
            <input type="text" class="form-control" name="mcontent" id="field_mcontent"
                [(ngModel)]="mailbox.mcontent" required/>
            <div [hidden]="!(editForm.controls.mcontent?.dirty && editForm.controls.mcontent?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mcontent?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.mailbox.sourceId" for="field_sourceId">Source Id</label>
            <input type="number" class="form-control" name="sourceId" id="field_sourceId"
                [(ngModel)]="mailbox.sourceId" required/>
            <div [hidden]="!(editForm.controls.sourceId?.dirty && editForm.controls.sourceId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sourceId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sourceId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.mailbox.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="mailbox.createdDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.mailbox.readDate" for="field_readDate">Read Date</label>
            <div class="input-group">
                <input id="field_readDate" type="text" class="form-control" name="readDate" ngbDatepicker  #readDateDp="ngbDatepicker" [(ngModel)]="mailbox.readDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="readDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.readDate?.dirty && editForm.controls.readDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.readDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.mailbox.anonymous" for="field_anonymous">Anonymous</label>
            <input type="number" class="form-control" name="anonymous" id="field_anonymous"
                [(ngModel)]="mailbox.anonymous" required/>
            <div [hidden]="!(editForm.controls.anonymous?.dirty && editForm.controls.anonymous?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.anonymous?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.anonymous?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.mailbox.jerk" for="field_jerk">Jerk</label>
            <select class="form-control" id="field_jerk" name="jerk" [(ngModel)]="mailbox.jerk" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jerkOption.id === mailbox.jerk?.id ? mailbox.jerk : jerkOption" *ngFor="let jerkOption of jerks; trackBy: trackJerkById">{{jerkOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jerkaeroApp.mailbox.jerk" for="field_jerk">Jerk</label>
            <select class="form-control" id="field_jerk" name="jerk" [(ngModel)]="mailbox.jerk" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jerkOption.id === mailbox.jerk?.id ? mailbox.jerk : jerkOption" *ngFor="let jerkOption of jerks; trackBy: trackJerkById">{{jerkOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
