
<div *ngIf="tag">
    <h2><span jhiTranslate="jerkaeroApp.tag.detail.title">Tag</span> {{tag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jerkaeroApp.tag.name">Name</span></dt>
        <dd>
            <span>{{tag.name}}</span>
        </dd>
        <dt><span jhiTranslate="jerkaeroApp.tag.type">Type</span></dt>
        <dd>
            <span>{{tag.type}}</span>
        </dd>
        <dt><span jhiTranslate="jerkaeroApp.tag.status">Status</span></dt>
        <dd>
            <span>{{'jerkaeroApp.StatusEnum.'+tag.status | translate}}</span>
        </dd>
        <dt><span jhiTranslate="jerkaeroApp.tag.weight">Weight</span></dt>
        <dd>
            <span>{{tag.weight}}</span>
        </dd>
        <dt><span jhiTranslate="jerkaeroApp.tag.createdDate">Created Date</span></dt>
        <dd>
            <span>{{tag.createdDate | date:'yyyy-MM-dd hh:ss:mm'}}</span>
        </dd>
        <dt><span jhiTranslate="jerkaeroApp.tag.modifiedDate">Modified Date</span></dt>
        <dd>
            <span>{{tag.modifiedDate | date:'yyyy-MM-dd hh:ss:mm'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tag-guoyi-suffix/'+ tag.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
